@media screen and (max-width: 360px) {
    #header-btn button{
        width: 30%;
        font-size: 10px;
    }

    .form h3 {
        font-size: 12px;
    }

    .form form input {
        width: 95%;
        margin-left: 0;
    }

    #email {
        width: 95%;
    }

    #number {
        width: 95%;
    }
}